body {
  margin: 0;
}


/* Full page center layout */
.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;

  background-image: url("../../assets/bgimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Improve clarity */
  filter: brightness(.85) contrast(1.18) saturate(1.12);

  /* Reduce blur from scaling */
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

 

/* White card */
.login-box {
  width: 350px;
  height: auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
   margin-left: 90px;
}

/* Logo + Heading */
.logo-section {
  text-align: center;
  margin-bottom: 24px;
 
}

.login-logo {
  width: 100px;
  margin-bottom: 5px;
  padding-bottom: 10px;
 
}

/* Input groups */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  font-size: 14px;
  color:black;
  margin-bottom: 10px;
}

.form-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 10px;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  background:rgb(141, 195, 245);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
  transition: background 0.2s;
}

.login-btn:hover {
  background: #d32f2f;
}

/* Bottom version text */
.version {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}
.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}
