:root {
  --primary: #7d6b80ff;
  --primary-hover: #251127ff;
  --button-primary: #e525ebff;
    --button-primary-hover: #c31ed2ff;
  --primary-light: #f0dcf3ff;
  /* --primary-hover: rgba(219, 37, 235, 0.06); */

 --brand-success: #d218d8ff;    /* same color */
  --brand-success-bg: rgba(210, 24, 216, 0.08);

  --brand-danger: #d218d8ff;    /* same color */
  --brand-danger-bg: rgba(210, 24, 216, 0.12);
    --danger: #d44242ff;
    --danger-light: rgba(212, 69, 69, 0.12);    
  --text-dark: #2f2f2fff;
  --text-muted: #6f6f6f;

  --border-light: rgba(0, 0, 0, 0.08);
  --glass-bg: rgba(255, 255, 255, 0.88);
   --brand-border: rgba(210, 24, 216, 0.35);
--brand: #d218d8ff;
}

.to-top-btn {
  position: fixed;
  bottom: 23px;
  right: 14px;
  border-radius: 50%;
  background: #fcf0fdff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  outline: none;
  width: 56px;
  height: 56px;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
  transform: translateY(20px);
  pointer-events: none;
  transition: all 0.35s ease;
  border: 1px solid var(--brand-border);
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.25); */

  z-index: 2000;
}

.to-top-btn:hover {
  /* border:1px solid #a7a7a7ff; */
  /* box-shadow: 0 6px 16px rgba(0,0,0,0.18);
  background: #fdf0fdff; */
}

.to-top-btn.show {
  opacity: 1;
  outline: none;
  transform: translateY(0);
  pointer-events: auto;
}
