body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 0px; /* Adjust this value based on the header height */
    background-color: #F2F2F2;
}
header.header {
    margin: 0;
    position: fixed;
    top: 0;
    background-color: white;
    left: 0;
    min-height: 8%;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
 /* font-family: "Roboto", sans-serif; */
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
    color: #C71E64;
    margin-left: 20px;
    font-weight: bold;
    width: auto;
}
.notification {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    height: 100%;
    padding: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.3s ease;
     
}
.notification:hover {
    background-color:rgba(219, 219, 219, 0.726);;
}

.notification .notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 234px;
    height: 207px;
    /* justify-content: center;
    align-items: center; */
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-radius: 6px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    overflow-y: auto;
    overflow-x: hidden;/*scrolling*/
    z-index: 1000;
    display: block; /* Hidden by default */
    transition: all 0.3s ease;
}

/* .notification:hover .notification-dropdown {
  display: flex;
}

.dashboard:hover .notification-dropdown {
  display: flex;
} */

.dashboard .notification-dropdown {
    position: absolute;
    top: 100%;
    right: 250px;
    width: 234px;
    height: 207px;
    /* justify-content: center;
    align-items: center; */
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-radius: 6px; */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    display: block; /* Hidden by default */
    transition: all 0.3s ease;
}
.notification .msgs {
    position: absolute;
    top: 6px;
    background-color: #188bd8;
    color: white;
    right: 10.4rem;
    width: 13px;
    display:flex;
    justify-content: center;
    font-size: 10px;
    border-radius: 17px;
}
.dashboard .msgs{
    position: absolute;
    background-color: #d83e18;
    color: white;
    right: 16rem;
    top: 6px;
    width: 13px;
    display:flex;
    justify-content: center;
    font-size: 10px;
    border-radius: 17px;
}
/* When dashboard is hidden */
.notification.no-dashboard .msgs {
    right: 0.4rem; /* same as dashboard */
}
/* @keyframes ring {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(7deg); }
  40% { transform: rotate(-5deg); }
  50% { transform: rotate(3deg); }
  60% { transform: rotate(-2deg); }
  70%, 100% { transform: rotate(0deg); }
} */

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 3rem;
}
.location-date {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    font-size: 13px;
    padding: 9px 12px 8px 12px;
}
.location {
    color: #188bd8;
}
.location-date .date{
    color: black;
    margin-top: -3px;
    font-size: 12px;

}
.dashboard {
        padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.3s ease;
}
.dashboard:hover {
    background-color:rgba(219, 219, 219, 0.726);
}
.user-profile {
   background-color: rgba(219, 219, 219, 0.726);
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.settings {
    padding: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.settings:hover {
    background-color:rgba(192, 190, 190, 0.73);
}