/* RESET everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden; /* removes scroll bars */
  background: none !important; /* prevents Vite from adding background */
}
