:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(189, 33, 33, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */


html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
    font-family: Arial, sans-serif;
    padding-top: 0px; /* Adjust this value based on the header height */
   
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  width: 100%;
  background-color:#f2f2f2;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  outline: none;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text);
  box-shadow: 0 0 0 1000px var(--background) inset;
  transition: background-color 9999s ease-in-out 0s;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #422147ff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* ---------- LIGHT THEME ---------- */
/* :root,
[data-theme="light"] {
  --bg: #f5f5f5;
  --bg-card: #ffffff;
  --text: #1a1a1a;
  --text-secondary: #555;

  --btn-bg: #ffffff;
  --btn-border: #dcdcdc;
  --btn-hover: #f0f0f0;

  --toggle-bg: #ddd;
  --toggle-ball: #fff;
} */

/* ---------- DARK THEME ---------- */
/* [data-theme="dark"] {
  --bg: #250f2aff;
  --bg-card: #381e3bff;
  --text: #f7f1f9ff;
  --text-secondary: #b094b8ff;

  --btn-bg: #381e3bff;
  --btn-border: #4d3355ff;
  --btn-hover: #4e2b52ff;

  --toggle-bg: #624769ff;
  --toggle-ball: #fff;
} */

/* Global apply */
body {
  /* background: var(--bg); */
  color: var(--text);
}
